<%- include ("../Partials/header.ejs")%>
<%- include ("../Partials/main_nav.ejs")%>
<!--Main content-->
<h1><%= "Welcome to the Happy Farm" %></h1>
<p>Welcome to <%= title %></p>
<p>This website is about a farm and farming organically.</p>

<div style="text-align: center;">
    <img src="/Assets/images/Organic.jpg" width="170" height="170" style="margin: 10px;">
    <img src="/Assets/images/Soil.jpg" width="170" height="170" style="margin: 10px;">
    <img src="/Assets/images/Picking.jpg" width="170" height="170" style="margin: 10px;">
</div>

<%- include ("../Partials/footer.ejs")%>